body{
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.botao{
    height: 52px;
    width: 140px;
    border: none;
    padding: 15px;
    font-size: 12pt;
    border: 1px solid rgb(61, 61, 61);
    background-color: rgb(105, 105, 105);
    margin-top: 20px;
    border-radius: 30px;
    cursor: pointer;
    color: rgb(0, 0, 0);
}
#opcao{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    text-align: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid gray;
    background-color:  rgb(226, 226, 228);
}
.boxMenu{
    width: 40%;
    padding: 30px;
    font-family: sans-serif;
    background-color: rgb(226, 226, 228);
    margin: 30px auto;
    border-color:  rgb(78, 77, 77);
    box-shadow: 1px 0px 5px gray;
}
.inf{
    text-align: left;
}
#btPesquisar{
    margin: 5px;
    margin-top: 20px;
}
.desc2{
    margin: 0%;
    margin-right: 140px;

}
.desc3{
    margin: 0%;
    margin-left: 160px;
    margin-top: -21px;

}
h2{
    margin-left: 20px;
    margin-top: -24px;
    color: red;

    
}
   